body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 20px;
}

.generic-routing li { margin-top: 10px; }

a {
  color: #00B7FF; text-decoration: none;
}

.fa-home { font-size: 2em; }

.crud-ajax {
  margin-top: 40px;
}

.crud-ajax button { margin-right: 12px; }
